.PatternStats {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    padding: 10px;
    margin: 5px 0;
    text-align: left;

    select {
        width: 80px;
    }

    .name {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .clearButton {
            background-color: rgb(89, 203, 238);
            width: 35px;
            height: 25px;
        }

        .fillButton {
            background-color: rgb(89, 203, 238);
            width: 35px;
            height: 25px;
        }

        .removeButton {
            color: white;
            background-color: rgb(177, 0, 0);
            width: 25px;
            height: 25px;
            margin: auto 0;
        }
    }

    .dropdowns {
        display: flex;
        justify-content: space-between;
    }
}