.PatternStats {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    
    select {
        width: 80px;
    }

    .patternBadge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 30px;
    }


    .name {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .dropdowns {
        display: flex;
        justify-content: space-between;
    }
}