.ProgramPatterns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

    .sidebar {
        display: flex;
        flex-direction: column;
    }
}