.ProgramPatterns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

    .sidebar {
        display: flex;
        flex-direction: column;
    }
}