.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 100vw;
  height: 100vh;

  color: #fff;
  background: #4b5158;

  h1 {
    font-size: 40px;
    padding: 15px 0 10px;
  }

}